<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách sản phẩm</title>
    <link rel="stylesheet" th:href="@{../../assets/css/user/products.css}" type="text/css">

    <link
            rel="stylesheet"
            data-purpose="Layout StyleSheet"
            title="Web Awesome"
            href="/css/app-wa-462d1fe84b879d730fe2180b0e0354e0.css?vsn=d"
    >

    <link
            rel="stylesheet"
            href="https://site-assets.fontawesome.com/releases/v5.15.4/css/all.css"
    >

    <script src="/JS/viewAllProduct.js"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Danh sách sản phẩm</h1>
    <div class="product-container">
        <div class="funtionsBar">
            <form th:action="@{/user/products}" method="get" id="sort-form">
                <div class="sort">
                    <label class="sortLabel" for="comboBox">Sắp xếp theo</label>
                    <select id="comboBox" name="price">
                        <option value="">      Chọn</option>
                        <option value="asc">Giá tăng dần</option>
                        <option value="desc">Giá giảm dần</option>
                    </select>
                </div>
            </form>

            <div class="filterColor">
                <form class="colorComboBoxForm" th:action="@{/user/products}" method="get">
                    <label class="colorComboBoxLabel" th:for="options">Lọc theo màu</label>
                    <select name="color" id="colorComboBox">
                        <option value="">Chọn màu</option>
                        <th:block th:each="color : ${listColor}" >
                            <option th:value="${color}">[[${color}]]</option>
                        </th:block>
                    </select>
                    <button class="filterColorBtn" type="submit"><i class="far fa-filter" style="font-size: 20px; color: white"></i></button>
                </form>
            </div>

            <form th:action="@{/user/products}" method="get" id="search-form">
                <div class="searchBox">
                    <label>
                        <input class="inputToSearch" name="search" type="text" placeholder="Tìm kiếm">
                    </label>
                    <i class="far fa-search" id="search-icon" style="font-size: 25px; color: #A9A9A9; cursor: pointer"></i>
                </div>
            </form>
        </div>
        <!-- Product Boxes -->
        <div class="product-box" th:each="product : ${listAllProduct}">
            <a th:href="@{/user/product_detail(product_id=${product.getProduct_id()})}">
                <div class="product-image">
                    <img th:src="'data:image/jpeg;base64,' + ${product.getImg()}"/>
                </div>
                <div class="product-name" th:text="${product.getName()}">
                </div>
                <div class="product-price" th:text="${'Giá: '+product.getPrice()}">
                </div>
                <div class="product-color" th:text="${'Màu: '+product.getColor()}">
                </div>
            </a>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $("#comboBox").change(function () {
        console.log("Clicked: " + $('#comboBox').val())
        $("#sort-form").submit();
    })
</script>
</html>
