<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
	<div>
<!--		<div th:replace = "Fragments/admin/header::header"></div>-->
		<div th:replace= "~{Fragments/admin/header::header}"></div>
	</div>
	<section>
		<div>
			<div layout:fragment ="content" ></div>
		</div>
	</section>
	<div>
		<div th:replace = "~{Fragments/admin/footer::footer}"></div>
	</div>
</header>
</body>
</html>