*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

#wrapper__header {
    background-color: #191A19;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

#wrapper__logo__manage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    gap: 100px;
    color: white;
    height: 100%;
    align-items: center;
}

#wrapper__logo {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

#wrapper__manage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    gap: 50px;
    color: white;
    height: 100%;
    align-items: center;
}

.manage__item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.manage__item:hover {
    border-bottom: 2px solid white;
}

.manage__name {
    color: white;
    font-weight: 500;
    padding: 12px 0;
    font-size: 18px;
}



#logout__form {
    background-color: #EEEEEE;
    margin-right: 10px;
    border-radius: 50px;
}

#logout__btn {
    border: none;
    padding: 10px ;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

#logout__btn :hover {
    scale: 1.1;

}

#logout__icon {
    font-size: 24px;
}

#toast {
    position: fixed;
    top: 80px;
    right: 40px;
    z-index: 2;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 40px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast {
    padding: 10px 0;
    min-width: 300px;
    max-width: 370px;
    background-color: white;
    border-left: 4px solid;
    box-shadow: 1px 2px 10px grey;
    animation: slideInLeft 0.5s ease, fadeOut 1s ease 3s forwards;
    transition: all 0.3s ease;
}

.toast+.toast {
    margin-top: 20px
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__success {
    border-color: #43d158;
}

.toast__success .toast__icon,
.toast__success .toast__title {
    color: #43d158;
}

.toast__warning .toast__icon,
.toast__warning .toast__title {
    color: #F5B971;
}

.toast__warning {
    border-color: #F5B971;
}

.toast__error {
    border-color: #e04d28;
}

.toast__error .toast__icon,
.toast__error .toast__title {
    color: #e04d28;
}